.paginationBttns {
	width: 80%;
	height: 40px;
	align-self: center;
	list-style: none;
	display: flex;
	justify-content: center;
}

.paginationBttns a {
	padding: 10px;
	margin: 8px;
	border-radius: 5px;
	border: 1px solid black;
	color: #225c83;
	cursor: pointer;
}

.paginationBttns a:hover {
	color: white;
	background-color: #225c83;
}

.paginationActive a {
	color: white;
	background-color: #225c83;
}